:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  /* Colors */
  --color-whitesmoke-100: #f7f7f7;
  --color-gainsboro: #ddd;
  --color-gray-100: #222;
  --color-gray-200: rgba(34, 34, 34, 0.1);
  --color-white: #fff;
  --color-darkslategray: #484848;
  --color-dimgray: #717171;
  --color-darkgray: #b0b0b0;
  --color-black: #000;

  /* border radiuses */
  --br-21xl: 40px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-xl: 20px;

  --br-xs: 12px;
  --br-9xs: 4px;

  /* box shadow */

  --box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);

  /* font weight */
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-weight-black: 900;
}
